/*-------------------------------------------- Whole page ----------------------------------------------------*/

* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 12px;
}

html {
    background-color: #E2DCF0;
}

/*-------------------------------------------- Header ----------------------------------------------------*/

nav {
    display: flex;
}

header ul {
    list-style: none;
    display: flex;
}

/*-------------------------------------------- Main ----------------------------------------------------*/

.imageBlock img {
    width: 100px;
}

/*.tooltip {
    /*display: none; 
} */

.projectBlock, .exampleBlock {
    width: 30%;
    display: inline-block;
}

.projectBlock img {
    width: 92%;
}

.skillBlock {
    display: block;
}

.codecademy img, .skillIcon img {
    width: 50px;
}

.skillExampleLinks {
    display: inline-flex;
}

/*-------------------------------------------- Footer ----------------------------------------------------*/

footer section{
    display: inline-flex;
}

footer img {
    height: 30px;
}