/* 
Style references

Colours:
#000000 (black)
#171717 (eerie black)
#2C2C2C (jet) - grey
#004A48 (brunswick green)
#A9C7B5 (ash gray) - light grey-green
#FFFFFF (white)


#0A1045 (penn blue) - almost navy
#6DAEDB (carolina blue) - pale/dull blue

Fonts:



Viewing/editing
    border: 1px solid red;
    margin: 2px;

*/

/*-------------------------------------------- Whole page ----------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: black;
}

/*-------------------------------------------- Header ----------------------------------------------------*/

header {
    background-color: white;
    height: clamp(45px, 8vw, 50px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    border-bottom: black 4px solid;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
}

nav div {
    width: 40%;
    height: 100%;
}

header ul {
    list-style: none;
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    padding: 0;
}

header h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

header li {
    width: 25%;
}

header a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
}

header a:hover {
    background-color: #a9c7b5;
    color: white;
    text-shadow: 0 0 1px black, 0 0 3px white, 0 0 8px #a9c7b5, 0 0 12px #a9c7b5;

}

/*-------------------------------------------- Main ----------------------------------------------------*/

main {
    position: relative;
    top: clamp(49px, 10vw, 54px);
    width: 96vw;
    margin: auto;
    border:black solid 2px;
}

section {
    background-color: #a9c7b5;
    border: #171717 solid 0.5vw;
    padding: 0.5vw 0;
    margin: 1vw 0;
}

.sectionHeading {
    background-color:#004a48;
    color: white;
    border-top: solid #171717 0.5vw;
    border-bottom: solid #171717 0.5vw;
}

.hidden {
    display: none;
}

/* ------------------ ABOUT ME SECTION ------------------ */

.headingAndArrows {
    display: inline-flex;
    background-color:#2C2C2C;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.headingAndArrows:hover {
    background-color: #efebe7;
    color: black;
    border-bottom: #171717 2px solid;
}

.infoAndImage {
    display: inline-flex;
    width: 100%;
    height: 25vw;
    justify-content: center;
    align-items: center;
}

.informationBlock {
    height: 100%;
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.info {
    border: #171717 solid 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info p {
    text-overflow: wrap;
    margin: 0;
}

.imageBlock {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: right;
}

.imageBlock img {
    max-height: 23vw;
    overflow: hidden;
    align-self: center;
    margin: 1vw;
    border:#171717 solid 0.5vw;
}

/* ------------------ PROJECTS SECTION ------------------ */

.showDetails {
    display: inline-block;
}

.projectBlock {
    background-color: white;
    border:#171717 2px solid;
}

.projectHeading {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #2C2C2C;
    color: white;
}

.projectHeading a {
    color: white;
    text-decoration: none;
}

.codecademyIcon {
    width: 100%;
    overflow: hidden;
    align-self: center;
    padding: 5px;
}

.projectHeading .tooltipTrigger h3 {
    text-align: center;
}

.tooltip {
    position: relative;
}

.tooltip p {
    position: absolute;
}

.tooltip, .tooltip p {
    width: 25vw;
    top: -3vw;
    z-index: 4;
    background-color: bisque;
    color: black;
    border: black solid 1px;
}

.projectBlock, .exampleBlock {
    width: 30vw;
    display: inline-block;
}

.projectPic {
    max-height: 23vw;
    overflow: hidden;
    align-self: center;
    margin: 1vw;
    border: solid 1px black;
}


/* ------------------ SKILLS SECTION ------------------ */

.skillBlock {
    display: block;
}

.codecademyIcon, .skillIcon img {
    width: 50px;
    background-color: white;
    border:#171717 0.2vw solid;
}

.skillExampleLinks {
    display: inline-flex;
}

/*-------------------------------------------- Footer ----------------------------------------------------*/

footer section {
    display: flex;
    position: relative;
    top: clamp(49px, 10vw, 54px);
    width: 100%;
    background-color:#efebe7;
    overflow-x: hidden;
}

footer img {
    height: 30px;
    padding: 0 1vw;
}

.contactType {
    display: flex;
    padding: 0 3vw;
}

.contactType a {
    display: flex;
}