/* 
Style references

Colours:
#000000 (black)
#171717 (eerie black)
#2C2C2C (jet) - grey
#004A48 (brunswick green)
#A9C7B5 (ash gray) - light grey-green
#FFFFFF (white)


#0A1045 (penn blue) - almost navy
#6DAEDB (carolina blue) - pale/dull blue

Fonts:



Viewing/editing
    border: 1px solid red;
    margin: 2px;

*/

/*-------------------------------------------- Whole page ----------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color:#2C2C2C;
}

/*-------------------------------------------- Header ----------------------------------------------------*/

header {
    background-color: white;
    height: clamp(45px, 8vw, 50px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    border-bottom: black 4px solid;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
}

nav div {
    width: 40%;
    height: 100%;
}

header ul {
    list-style: none;
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    padding: 0;
}

header h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

header li {
    width: 25%;
}

header a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
}

header a:hover {
    background-color: #004a48;
    color: white;
    text-shadow: 0 0 1px black, 0 0 3px white, 0 0 8px #a9c7b5, 0 0 12px #a9c7b5;

}

/*-------------------------------------------- Main ----------------------------------------------------*/

main {
    position: relative;
    top: clamp(49px, 10vw, 54px);
    width: 94vw;
    margin: auto;
}

section {
    background-color: #a9c7b5;
    border: #171717 solid 0.2vw;
    border-radius: 0.4vw;
    padding: 0.3vw 0;
    margin: 1vw 0;
    width: 100%;
}

.sectionHeading {
    background-color:#004a48;
    color: white;
    border-top: solid #171717 0.2vw;
    border-bottom: solid #171717 0.2vw;
    padding: 4px;
}

.sectionHeading h2, .sectionHeading span {
    margin-left: 1vw;
}

.sectionHeading span {
    color:#a9c7b5;
}

.hidden {
    display: none;
}

/* ------------------ ABOUT ME SECTION ------------------ */

.headingAndArrows {
    display: inline-flex;
    background-color:#2C2C2C;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.headingAndArrows:hover {
    background-color: #efebe7;
    color: black;
    cursor: pointer;
}

.infoAndImage {
    display: inline-flex;
    width: 100%;
    height: 25vw;
    justify-content: center;
    align-items: center;
}

.informationBlock {
    height: 100%;
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.info {
    border: #171717 solid 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.4vw;
}

.info p {
    text-overflow: wrap;
    margin: 0;
    height: fit-content;
}

.imageBlock {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: right;
}

.imageBlock img {
    max-height: 23vw;
    overflow: hidden;
    align-self: center;
    margin: 1vw;
    border:#171717 solid 0.2vw;
    border-radius: 0.4vw;
}

/* ------------------ PROJECTS SECTION ------------------ */

.showDetails {
    display: inline-block;
}

.galleryBlock {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 30%);
    gap: 3vw 1vw;
    padding: 2vw 1vw;
    grid-auto-flow: row;
    width: 100%;
    justify-items: center;
    justify-content: space-evenly;
}

.projectBlock {
    background-color: #171717;
    border:#171717 0.2vw solid;
    border-radius: 0.4vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.projectHeading {
    display: grid;
    grid-template: auto / 1fr 5fr;
    background-color: #2C2C2C;
    color: white;
    align-items: center;
    width: 100%;
}

.projectHeading a {
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/*.h3Trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}*/

.codecademyIcon {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    border-radius: 0.2vw;
}

.projectHeading h3 {
    text-align: center;
    width: 100%;
}

.tooltipTrigger {
    position: relative;
    width:100%;
    height: 100%;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: bisque;
    color: black;
    border: black solid 2px;
    border-radius: 5px;
    z-index: 4;
    margin: 0;
    padding: 2px 4px;
}

.viewTaskOutline {
    top: 0px;
    left: 50px;
}
.viewOutcomeSourceCode {
    top: -1vw;
    left: -2.5vw;
}

.viewTaskOutcome {
    top: 1vw;
    right: 2vw;
}

.tooltip p {
    text-align: center;
    width: fit-content;
}

.tooltipTrigger:hover .tooltip {
    display: flex;
}

.projectThumbnail {
    width: 100%;
    background-color: #171717;
}

.projectDetailsToggle {
    min-height: 2vw;
    background-color: #171717;
    color: #a9c7b5;
    text-align: center;
    padding: 3px 0;
    width: 100%;
}

.projectDetailsToggle:hover {
    background-color: white;
    color:#171717;
    padding: 2px 0;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    cursor: pointer;
}

.projectDetails {
    position: relative;
    display: flex;
    flex-direction: column;
}

.projectInfoPs {
    position: absolute;
}

.projectScreenshotLink {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    grid-area: 1 / 1 / span 1 / span 1;
}

.pictureTrigger {
    display: grid;
    grid-template: 100% / 100%;
}

.darkScreen {
    background-color: hsla(0, 0%, 0%, 0.8);
    width: 100%;
    grid-area: 1 / 1 / span 1 / span 1;
}

.pictureTrigger:hover .darkScreen {
    display: none;
}

.projectPic {
    overflow: hidden;
    margin: 0;
}


/* ------------------ SKILLS SECTION ------------------ */

.skillBlock {
    display: block;
}

.exampleBlock {    
    width: 28.5vw;
    display: inline-block;
 }

.codecademyIcon, .skillIcon img {
    width: 50px;
    background-color: white;
    border-right:#171717 0.2vw solid;
}

.skillExampleLinks {
    display: inline-flex;
}

/*-------------------------------------------- Footer ----------------------------------------------------*/

footer section {
    display: flex;
    position: relative;
    top: clamp(49px, 10vw, 54px);
    width: 100%;
    background-color:#efebe7;
    overflow-x: hidden;
    border-radius: 0%;
    border: none;
    border-top: black solid 2px;
}

footer img {
    height: 30px;
    padding: 0 1vw;
}

.contactType {
    display: flex;
    padding: 0 3vw;
}

.contactType a {
    display: flex;
}