/* 
font-family: 'Oxanium', cursive; - For headings
font-family: 'Raleway', sans-serif; - For paragraphs 

hsla(240, 50%, 20%, 1) [navy blue]
hsla(190, 100%, 50%, 1) [neon blue]
hsla(60, 100%, 50%, 1) [bright yellow]
hsla(340, 10%, 45%, 1) [grey-purple]
hsla(0, 0%, 0%, 1) [black]
hsla(0, 0%, 10%, 1) [dark grey]
hsla(0, 0%, 30%, 1) [mid grey]
hsla(0, 0%, 60%, 1) [light grey]
hsla(0, 0%, 100%, 1) [white]

*/

/*--GENERAL----GENERAL----GENERAL----GENERAL----GENERAL----GENERAL----GENERAL----GENERAL----GENERAL----GENERAL--*/

html{
    font-family: "Raleway", sans-serif;
}

body{
    margin: 0;
    box-sizing: border-box;
    min-width: 360px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oxanium', cursive;
}

.container{
    display: flex;
}

.grid{
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    gap: 2vw;
    padding: 2vw;
    background-color: hsla(190, 100%, 50%, 1);
}

h3{
    font-size: clamp(30px, 2vw, 2vw);
}

h5{
    font-size: clamp(25px, 1.5vw, 1.5vw);
}

p{
    font-size: clamp(20px, 1vw, 1vw);
}

/*--HEADER----HEADER----HEADER----HEADER----HEADER----HEADER----HEADER----HEADER----HEADER----HEADER----HEADER--*/

header{
    background-color:black;
    height: clamp(45px, 8vw, 50px);
    margin: 0;
    position: fixed;
    top: 0px;
    left: 0px; 
    width: 100%;
    z-index: 5;
}

.navbar{
    width: 100%;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0 0 1vw 1vw white, 0 0 3vw 1.5vw hsla(190, 100%, 50%, 1);
}

.navbar ul{
    list-style: none;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: clamp(45px, 8vw, 50px);
}

.navbar li{
    height: 100%;
    align-items: center;
}

.navbar h3{
    padding: 0.8vw 1.2vw;
    text-align: center;
    margin: 0;
    margin-top: 0.8vw;
    line-height: 1.2;
    color: hsla(240, 50%, 20%, 1);
    font-size: clamp(30px, 2vw, 40px);
}

.navbar a{
    text-decoration: none;
}

.navbar li:hover a h3{
    background-color:hsla(240, 50%, 20%, 1);
    border-radius: 1vw;
    color: white;
    text-shadow: 5px 5px 10px hsla(190, 100%, 50%, 1);
    overflow: hidden;
}

.collapsedmenu{
    position: fixed;
    top: 20px;
    left: 0px;
    background-color: white;
    z-index: 6;
    width: 15px;
    height: 55px;
    display: none;
    box-shadow: 0 0 5px 5px white, 0 0 15px 8px hsla(190, 100%, 50%, 1);
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px 5px 0;
}

.line{
    background-color: hsla(240, 50%, 20%, 1);
    height: 6px;
    width: 100%;
    margin: 5px 0;
}

.expandedmenu{
    display: none;
    background-color: white;
    color:hsla(240, 50%, 20%, 1);
    box-shadow: 0 0 5px 5px white, 0 0 15px 8px hsla(190, 100%, 50%, 1);
    flex-direction: column;
}

.expandedmenu ul{
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 7;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 5px 5px white, 0 0 15px 8px hsla(190, 100%, 50%, 1);
    color:hsla(240, 50%, 20%, 1);
}

.expandedmenu ul li a{
    background-color: white;
    color:hsla(240, 50%, 20%, 1);
}


/*--MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN----MAIN--*/

main .bannerwrap{
    background-color: black;
    width: 100%;
    display: flex;
}

main .banner{
    margin: 0;
    background-image: url("./Images/justin-veenema-zP80MWApkn8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom -12vw;
    width: 100%;
    height: clamp(250px, 50vw, 800px);
    flex-shrink: 1;
    box-shadow: 0 0 1vw 0.5vw black;
}

.Stuff{
    flex-direction: column;
    background-color:hsla(190, 100%, 50%, 1);
    padding: 3vw 2vw;
}

.whatwhenwhere{
    margin-bottom: 2vw;
}

h3 {
    text-align: center;
    padding-bottom: 1vw;
    margin: 0;
}

p{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

h5{
    padding: 2vw 0 0 2vw;
    margin: 0;
}

.infopart{
   padding: 1.5vw; 
}


@media only screen and (max-width: 600px){
  
   header{
    display: none;
   }

   .collapsedmenu{
    display: flex;
   }

   .collapsedmenu:hover{
    cursor: pointer;
    width: 55px;
    transition-duration: 0.2s;
   }

   .collapsedmenu:hover .expandedmenu{
    display: block;
    transition-delay: 0.2s;
   }

   .expandedmenu:hover{
    display: block;
   }

   .expandedmenu li{
    height: 100%;
    align-items: center;
    }

    .expandedmenu h3{
        padding: 0.8vw 1.2vw;
        text-align: left;
        margin: 0;
        margin-top: 0.8vw;
        line-height: 1.2;
        color: hsla(240, 50%, 20%, 1);
        font-size: clamp(30px, 2vw, 40px);
    }

    .expandedmenu a{
        text-decoration: none;
    }

    .expandedmenu li:hover a h3{
        background-color:hsla(240, 50%, 20%, 1);
        border-radius: 1vw;
        color: white;
        text-shadow: 5px 5px 10px hsla(190, 100%, 50%, 1);
        overflow: hidden;
    }

    h3{
        font-size: clamp(30px, 2vw, 2vw);
    }
    
    h5{
        font-size: clamp(25px, 1.5vw, 1.5vw);
    }
    
    p{
        font-size: clamp(20px, 1vw, 1vw);
    }
}

/*---------RoCo Section---------*/

#roco{
 margin: 0;
 margin-right: 2vw;
 background-color: white;
 border-radius: 1vw;
 display: flex;
 box-shadow: 0 0 1vw 0.5vw white;
 flex-direction: column;
}

/*---------Gallery Section---------*/

#gallery{
    margin: 0;
    background-color: hsla(240, 50%, 20%, 1);
    border-radius: 1vw;
    display: flex;
    box-shadow: 0 0 1vw 0.5vw hsla(240, 50%, 20%, 1);
    flex-direction: column;
}

#gallery h3, #gallery p{
    color: white;
}

.projects{
    flex-direction: column;
    width: 100%;
}
    

.project{
    background-color:hsla(0, 0%, 60%, 1);
    margin: 0.5vw;
    border-radius: 1vw;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.examples.container{
    padding: 1vw;
    flex-wrap: wrap;
    justify-content: center;
}

.coding.project .examples{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.coding.project .examples .container{
    width: 30%;
    padding-bottom: 1.5vw;
    background-color: transparent;
    overflow-x: hidden;
    min-width: 300px;
}

.coding.project .examples iframe{
    border-radius: 1vw;
}

.examples.container .container{
    width: 20%;
    align-items: center;
    background-color: black;
    margin: 0.5vw;
    border-radius: 1vw;
    min-width: 200px;
    justify-items: center;
}

.examples.container img{
    width: 100%;
    border-radius: 1vw;
}

/*---------Info Section---------*/

#info{
    margin: 0;
    background-color: hsla(0, 0%, 10%, 1);
    border-radius: 1vw;
    display: flex;
    box-shadow: 0 0 1vw 0.5vw hsla(0, 0%, 10%, 1);
    flex-direction: column;
}

#info h3, #info p{
    color: white;
}



@media only screen and (max-width: 600px){

    h3{
        font-size: clamp(24px, 2.5vw, 30px);
    }

    h5{
        font-size: clamp(20px, 2vw, 25px);
    }

    p{
        font-size: clamp(16px, 1.5vw, 20px);
    }

    .whatwhenwhere{
        flex-direction: column;
    }

    #roco{
        margin: 0;
        margin-bottom: 2vw;
    }
}

/*--FOOTER----FOOTER----FOOTER----FOOTER----FOOTER----FOOTER----FOOTER----FOOTER----FOOTER----FOOTER----FOOTER--*/

footer{
    padding: 0.5vw 2vw;
}

footer .container{
    justify-content: space-between;
}

span{
    font-weight: bold;
}
