

*{
    box-sizing: border-box;
}

body{
    margin: 1px;
    background-color: hsl(180, 50%, 20%);
}

h1{
    text-align: center;
    padding: 10px;
    margin:0px;
    margin-bottom: 15px;
    background-color:white;
    font-size: xxx-large;
}

h2{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
    margin: 0px;
    font-size: xx-large;
}

h3{
    font-size: x-large;
}

h4{
    font-size: large;
}


.colours-section{
    margin-bottom: 30px;
    margin-top: 20px;
    width: 98%;
    position: relative;
    left: 1%;
    border: 1px solid black;
}

.colours{
    background-color: hsl(0, 0%, 70%);
    text-align: center;
    padding: 1.5% 0;
}



.allcolourinfotiles{
    width: 96%;
    position: relative;
    left: 2%;
}

.colour{
    display: inline-block;
    text-align: center;
    width:25%;
    background-color: white;
    border: 3px solid black;
    margin:0px;
}

.colour-block{
    height: 100px;
    width: 80%;
    text-align: center;
    margin: 0px auto;
    border: 1px solid black;
}

.black .colour-block{
    background-color: hsl(0, 0%, 0%);
    color: white;
}

.darkblue .colour-block{
    background-color: hsl(250, 100%, 20%);
    color: white;
}

.deepgreen .colour-block{
    background-color:hsl(180, 50%, 20%);
    color: white;
}

.darkgrey .colour-block{
    background-color:hsl(0, 0%, 30%);
    color: white;
}

.beige .colour-block{
    background-color:hsl(40, 50%, 80%);
    color: black;
}

.midgrey .colour-block{
    background-color: hsl(0, 0%, 50%);
    color: black;
}

.lightgrey .colour-block{
    background-color:hsl(0, 0%, 70%);
    color: black;
}

.white .colour-block{
    background-color: hsl(360, 100%, 100%);
    color: black;
}




.fonts-section{
    margin-bottom: 30px;
    width: 98%;
    position: relative;
    left: 1%;
    border: 1px solid black;
}

.fonts{
    background-color: hsl(0, 0%, 70%);
    text-align: center;
    padding: 10px 0px;
    vertical-align: text-bottom;
    padding: 1.5% 0;
}

table{
    text-align: center;
    width: 96%;
    position: relative;
    left: 2%;
    border: 3px solid black;
}

thead{
    background-color: hsl(360, 100%, 100%);
    color: hsl(0, 0%, 30%);
    line-height: 1;
}

.odd{
    background-color:hsl(40,50%,80%);
    color: black;
}

.even{
    background-color: hsl(360, 100%, 100%);
    color: black;
}

.i{
    font-style: italic;
}

td{
    font-size: large;
    border-right: 2px solid black;
}

th{
    border-right: 2px solid black;
}

thead th{
    border-bottom: 2px solid black;
}

th h4, th p, th h3{
  margin: 0px;
}

th h4, th h3{
    padding-top: 5px;
  }
  
  th p, th h3{
    padding-bottom: 5px;
  }
  
.headingfont, h1, h2, h3, h4, h5, h6{
    font-family: 'Grenze Gotisch', 'Brush Script MT', cursive;
}

.paragraphfont, p, .paragraphfont h3{
    font-family: 'Nunito', 'Trebuchet MS', sans-serif;
}

.codefont, .codefont h3{
    font-family: 'Chakra Petch', 'Courier New', monospace;
}

.thin{
    font-weight: 100;
}

.extralight{
    font-weight: 200;
}

.light{
    font-weight: 300;
}

.regular{
    font-weight: 400;
}

.medium{
    font-weight: 500;
}

.semibold{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}

.extrabold{
    font-weight: 800;
}

td.black{
    font-weight: 900;
}





.textstyles-section{
    margin-bottom: 30px;
    width: 98%;
    position: relative;
    left: 1%;
    border: 1px solid black;
}

.text-styles{
    background-color: hsl(0, 0%, 70%);
    text-align: center;
    padding: 10px 0px;
    padding: 1.5% 0;
}

.style{
    width: 32%;
    display: inline-block;
    border: solid black 2px;
    background-color:hsl(360, 100%, 100%)
}

ul{
    text-align: left;
    width: 90%;
}

.style h3{
    width: 50%;
    margin: 5px auto;
}